final1.jpg
Sakia_Zannat_CV.docx
Sakia_Resume.pdf
project-management.png
facebook.png
github.png
linkdin.png
user.png
labor.png
telephone.png
email(2).png
home.png
education.png
achievement.png
publication.png
higher-education.png
dash.png
Sakia_Zannat_CV.docx
index.html
skills.html
contact.html
education.html
about.html 
Sakia_Resume.pdf
publication.html
project.html
achievements.html